<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/head') %>
	</head>

	<body>
		<%- include('../components/navigation') %>
		<article class="text-center">
			<h1>Internal server error</h1>
			<p>Some internal server error occurred, please try again later.</p>
		</article>
	</body>
</html>
